[Desktop Entry]
Exec=bash -c ~/vboardNav.sh
Icon=input-tvremote-symbolic
Name=Vboard VacuumTube Controls
Terminal=false
Type=Application
Categories=Utility
NoDisplay=false
