[Desktop Entry]
Exec=bash -c ~/vboardPanel.sh
Icon=preferences-desktop-keyboard
Name=Vboard Panel
Terminal=false
Type=Application
Categories=Utility
NoDisplay=false
